/* Responsive Design */
@media (max-width: 768px) {
  .main-content {
    flex-direction: column;
  }
  .card {
    margin: 2em 0;
    padding: 0px;
  }
}
@media (max-width: 480px) {
  .header nav ul {
    flex-direction: column;
	meowww
	ss
  }
  .header nav ul li {
    margin-right: 0;
    margin-bottom: 10px;
  }
}